body {
  width: 35rem;
}

.text-main {
  color: #efc04e;
}

h1 {
  color: #efc04e;
}

a {
  color: #efc04e;
  text-decoration: none;
}

a:hover {
  color: #efc04e;
  text-decoration: none;
}

.list-group-item {
  word-wrap: break-word;
}

.invisible {
  display: none;
}
