<style>

  body {
    margin: 0px;
  }

  /* The Modal (background) */
  #mtr-datasource-counter {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    background-color: #343a40;
    text-align: left;
    padding: 0px;
    padding-left: 10px;
    padding-top: 5px;
    //padding-left: 1rem;
    position: fixed;
    border: 1px solid #efc04e;
    color: #efc04e;
    z-index: 9999999;
  }

  #mtr-datasource-counter:hover {
    width: 180px;
  }

</style>

<html>
  <head>
    <title>Metro DataSource Counter</title>
  </head>
  <body>
    <div id="mtr-datasource-counter">
      <span class="count">0</span>
    </div>
  </body>
</html>

